body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  /* width: 100%; */
}

.App {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

input {
  display: block;

  margin: 5px 0px;
}

.postCard {
  border: 2px solid rgb(196, 196, 196);
  margin-top: 2px;
  border-radius: 4px;
}

.textInfo {
  padding: 5px;
}
/* .postTitle {
  border: 1px solid rgb(95, 95, 95);
} */
#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

input {
  width: 100%;
}

.createPostForm button {
  display: block;
}
